div .left-panel {
    padding: 0px;
    padding-top: 20px;
    background-color: #d4d4d4;
    text-align: center;
    position: fixed;
}

html,
body,
.fill {
    font-family: 'Lato', sans-serif, 'Microsoft YaHei', '微软雅黑', STXihei, '华文细黑', serif;
    height: 100%;
    min-height: 100%;
}

input[type="text"] {
    width: 100px;
}

.very-center {
    text-align: center;
    padding-top: 26%;
}

.chinese {
    font-family: 'Lato', sans-serif, 'Microsoft YaHei', '微软雅黑', STXihei, '华文细黑'
}

.chinese.normal {
    font-size: 20px;
}

button.nav {
    background-color: transparent;
    color: #454545;
    text-align: left;
    padding-left: 6px;
    font-size: 1.5em;
}

.logo {
    font-family: 'Righteous', cursive;
    font-weight: 800;
}

.button {
    color: #666666;
    background-color: #eeeeee;
    border-color: #eeeeee;
    text-decoration: none;
    margin: 0;
    width: 100%;
    display: block;
    cursor: pointer;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    height: 35px;
}

hr {
    padding: 1px;
    margin: 1px;
}

.button:visited {
    color: #666666;
}

.button:hover,
.button:focus {
    background-color: #f6f6f6;
    text-decoration: none;
    outline: none;
}

.button:active,
.button.active,
.button.is-active {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #cfcfcf;
    color: #d4d4d4;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button.disabled,
.button.is-disabled,
.button:disabled {
    top: 0 !important;
    background: #EEE !important;
    border: 1px solid #DDD !important;
    text-shadow: 0 1px 1px white !important;
    color: #CCC !important;
    cursor: default !important;
}

.button.disabled else,
.button.is-disabled else,
.button:disabled else {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    opacity: .8 !important;
}