.ue-bg {
    /*background-color: rgba(0, 0, 0, 0.2);*/
    font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
}

.fill {
    height: 100%;
    min-height: 100%;
    display: block;
}

.fillc {
    height: 100%;
    min-height: 100%;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

.ue-df {
    padding-top: 35px;
}

.vs {
    color: #a69fff;
    font-size: 30px;
}

.large-font {
    font-size: 550%;
    white-space: none;
}

.no-font {
    font-size: 0;
    white-space: none;
    /*font*/
}

.ue-img {
    width: 200px;
}

.no-font span {
    font-size: 87px;
    white-space: none;
    /*font*/
}

.small-font {
    font-size: 120%;
}

input {
    width: 30%;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 40px;
}

.top-img {
    width: 65px;
    border-radius: 10px;
}

.top-center {
    text-align: center;
    padding: 10px;
}

.left-center {
    text-align: left;
    float: left;
    word-wrap: break-word;
    word-break: normal;
}

.leftc-center {
    text-align: left;
    word-wrap: break-word;
    word-break: normal;
}

.right-center {
    text-align: right;
    float: right;
    word-wrap: break-word;
    word-break: normal;
}

.topc-center {
    text-align: center;
    margin: 0px;
}

div .center {
    text-align: center;
    padding: 10px;
    margin-top: 23%;
}

div .counter {
    font-size: 50px;
}

div .lower {
    margin-top: 30px;
}

.ue-button {
    /*width: 100%;*/
    width: 35px;
    height: 35px;
    border: 1px;
    border-radius: 5px;
}

.backstretch {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.div_right_bottom {
    float: right;
    position: fixed;
    right: 1%;
    top: 1%;
    _position: absolute;
    /* position fixed for IE6 */
}