<!DOCTYPE html>
<html lang="en">

<head>
    <title id="title">UpgradeE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../lib/bootstrap.min.css" rel="stylesheet">
    <link href="../../lib/buttons.css" rel="stylesheet">
    <link href="../../lib/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../lib/css/rpg-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div id="main" class="container-fluid fillc">
        <div v-if="newuser!=2" v-bind:class="versioncolor" class="buttom-forever"><i v-bind:class="versionicon"></i>&nbsp;{{versionmessage}}</div>
        <div class="row center" v-if="newuser<2">
            <uge-title></uge-title>
            <br>
            <span class="ue-bg small-font"><i class="fa fa-terminal"></i>&nbsp;{{debugdisplay}}</span>
        </div>

        <div class="row" v-if="newuser==0">
            <div class="col-xs-offset-3 col-xs-6 topc-center ue-bg">
                <span class="small-font">你是?..</span>
                <input type="text" placeholder="Username" class="form" v-model="test" style="margin-bottom:10px;"></input>
                <button v-bind:disabled="button" v-on:click="sendSummorid" class="ue-button"><i class="fa fa-paper-plane"></i></button>
            </div>
        </div>
        <div class="row" v-else-if="newuser==1">
            <div class="col-xs-offset-1 col-xs-10 topc-center ue-bg"><button v-on:click="getGame()">搜索游戏</button>
                <button v-on:click="editchamp(0)">撰写攻略</button></div>
        </div>
        <div class="row fillc" v-else-if="newuser==2">
            <div class="col-xs-5 ue-df ue-bg fill" style="background: black;">
                <div class="counter top-center keep-top" style="color:#dfdfdf;">
                    <span class="left-center">{{domainid}}</span>
                    <br>
                    <span><img class="top-img" src="../../css/favicon.ico" v-bind:src="mypng" />
                    <span class="vs">VS.</span> <img class="top-img" src="../../css/favicon.ico" v-bind:src="oppopng"
                    /></span>
                    <br><span class="right-center">{{oppoid}}</span>
                </div>
                <div class="top-center keep-top">
                    <button class="left-center ue-wbutton" v-on:click="editchamp(0)"><i class="ra ra-doubled"></i>{{domainchamp.name}}</button>
                    <button class="right-center ue-wbutton" v-on:click="editchamp(1)"><i class="ra ra-lightning-sword"></i>{{oppochamp.name}}</button>
                </div>
                <div class="top-center keep-top">
                    <button class="left-center ue-wbutton" v-on:click="backtoMain"><i class="ra ra-cancel"></i>返回</button>
                </div>
            </div>
            <div class="col-xs-7 ue-df ue-bg fill" style="color:#494949;">
                <h3>{{gameperiod}}</h3>
                <h2>The <span style="color: #4556ff">Advantage</span> of {{domainchamp.name}}</h2>
                <ul>
                    <li v-for="tip in tips.domain">{{tip}}</li>
                </ul>
                <h2>To <span style="color: #ff4545">Against</span> {{oppochamp.name}}</h2>
                <ul>
                    <li v-for="tip in tips.oppo">{{tip}}</li>
                </ul>
            </div>
        </div>
        <div class="row fillc" v-else-if="newuser==3">
            <div class="col-xs-12 top-center ue-bg">
                <uge-title secondtitle="攻略编辑器"></uge-title>
            </div>
            <div class="col-xs-offset-1 col-xs-10 leftc-center ue-bg">
                <label><i class="ra ra-player"></i>&nbsp;英雄ID</label>
                <input type="text" v-model="edit.domain"></input><br>
                <!--<strong>C</strong>
                <div contenteditable="true" v-on:keyup="localupdate('categery',$event)">{{edit.categery}}</div>-->
                <label><i class="ra ra-bottle-vapors"></i>&nbsp;游戏阶段:</label>
                <select v-model="edit.period">
                    <option value="L">对线期</option>
                    <option value="E">前期</option>
                    <option value="M">中期</option>
                    <option value="A">后期</option>
                    <option value="R">大后期</option>
                    <option value="T" selected>整场游戏</option>
                </select><br>
                <label><i class="ra ra-castle-flag"></i>&nbsp;位置:</label>
                <select v-model="edit.counter">
                    <option value="AM">中路</option>
                    <option value="AD">射手</option>
                    <option value="AT">上单</option>
                    <option value="AS">辅助</option>
                    <option value="AJ">打野</option>
                    <option value="AA" selected>任何位置</option>
                    <option value="AB">下路二人组</option>
                </select><br>
                <input type="radio" value="0" v-model="edit.side">
                <label for="one">使用{{selectedchampname}}</label>
                <input type="radio" value="1" v-model="edit.side">
                <label for="two">对抗{{selectedchampname}}</label><br>
                <strong><i class="ra ra-cog"></i>&nbsp;内容</strong>
                <div class="m-editor" contenteditable="true" v-on:keyup="localupdate('content',$event)"></div><br>
                <button v-on:click="pushedit(0)"><i class="ra  ra-save"></i>&nbsp;提交并返回</button>
                <button v-on:click="pushedit(1)"><i class="ra  ra-load"></i>&nbsp;提交并退出</button>
                <button v-on:click="backtoMain"><i class="ra  ra-player-dodge"></i>&nbsp;不保存离开攻略编辑器</button>
            </div>
        </div>
    </div>
</body>
<script>
    window.jQuery = window.$ = require('../../lib/jquery-3.2.1.min.js');
</script>
<!--<script src="../../lib/jquery-3.2.1.min.js"></script>-->
<script src="../../lib/bootstrap.min.js"></script>
<!--<script src="../../lib/wangeditor/js/wangEditor.min.js"></script>-->
<script src="../../lib/buttons.min.js"></script>
<script src="../../lib/jquery.backstretch.min.js"></script>
<script src="../../lib/vue.min.js"></script>
<script src="../../lib/caper.js"></script>
<script src="../public.js"></script>
<script src="./index.js"></script>
<script>
    jQuery(document).ready(function () {
        // $.backstretch("../../css/bgimg.png");
        // main.register();
        // main.preGet();
    })
</script>

</html>