<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../lib/bootstrap.min.css" rel="stylesheet">
    <link href="../../lib/buttons.css" rel="stylesheet">
    <link href="../../lib/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div id="main" class="container-fluid">
        <div class="row" v-if="newuser==true">
            <div class="col-sm-offset-3 col-sm-6 center ue-bg">
                <div style="display:inline-block;white-space:none;" class="no-font">
                    <span>Upgr</span>
                    <span style="color:#6b0000">a</span>
                    <span style="color:#b90000">d</span>
                    <span style="color:red">e<strong>E</strong></span>
                </div><br>
                <span class="small-font">{{display.youare}}</span>
                <input placeholder="Username" class="form" v-model="test" style="margin-bottom:10px;"></input>
                <!--<input class="form-password form-control" v-model="test"></input>-->
                <button v-bind:disabled="button" v-on:click="sendSummorid" class="ue-button">{{display.submit}}</button>
            </div>
        </div>
        <div v-else-if="newuser==false">
            fff
        </div>
    </div>
</body>
<script>
    window.jQuery = window.$ = require('jquery');
    jQuery(document).ready(function () {
        // $.backstretch("../../css/image.jpg");
        main.register();
        main.preGet();
    })
</script>
<script src="../../lib/bootstrap.min.js"></script>
<script src="../../lib/buttons.min.js"></script>
<script src="../../lib/jquery.backstretch.min.js"></script>
<script src="../../lib/vue.js"></script>
<script src="../../lib/caper.js"></script>
<script src="../public.js"></script>
<script src="./index.js"></script>


</html>