<!DOCTYPE html>
<html lang="en">

<head>
    <title id="title">UpgradeE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../lib/bootstrap.min.css" rel="stylesheet">
    <link href="../../lib/buttons.css" rel="stylesheet">
    <link href="../../lib/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div id="main" class="container-fluid fillc">
        <div class="row center" v-if="newuser<2">
            <div style="display:inline-block;white-space:none;padding:5px;" class="no-font">
                <span style="background-color:#6f6f6f;">Upgr</span>
                <span style="background-color:#4a4a4a;color:#6b0000">a</span>
                <span style="background-color:#414141;color:#b90000">d</span>
                <span style="background-color:#363636;color:red">e<strong>E</strong></span>
            </div><br>
        </div>
        <div class="row" v-if="newuser==0">
            <div class="col-xs-offset-3 col-xs-6 topc-center ue-bg">
                <span class="small-font">{{display.youare}}</span>
                <input placeholder="Username" class="form" v-model="test" style="margin-bottom:10px;"></input>
                <button v-bind:disabled="button" v-on:click="sendSummorid" class="ue-button"><i class="fa fa-paper-plane"></i></button>
            </div>
        </div>
        <div class="row" v-else-if="newuser==1">
            <div class="col-xs-offset-1 col-xs-10 topc-center ue-bg"><button v-on:click="getGame()">Match Started</button></div>
        </div>
        <div class="row fillc" v-else-if="newuser==2">
            <div class="col-xs-5 ue-df ue-bg fill" style="background: black;">
                <div class="counter top-center" style="color:#dfdfdf;"><span class="left-center">{{domainid}}</span><br>
                    <span><img class="top-img" src="../../css/favicon.ico" v-bind:src="mypng" />
                    <span class="vs">VS.</span> <img class="top-img" src="../../css/favicon.ico" v-bind:src="oppopng"
                    /></span>
                    <br><span class="right-center">{{oppoid}}</span></div>
                <div class="top-center">
                    <button v-on:click="editchamp(1)">How to play Against {{oppochamp.name}}</button>
                    <button v-on:click="editchamp(0)">How to Advantage {{domainchamp.name}}</button>
                </div>
            </div>
            <div class="col-xs-7 ue-df ue-bg fill" style="color:#494949;">
                <h2>The <span style="color: #4556ff">Advantage</span> of {{domainchamp.name}}</h2>
                <ul>
                    <li v-for="tip in tips.domain">{{tip}}</li>
                </ul>
                <h2>To <span style="color: #ff4545">Against</span> {{oppochamp.name}}</h2>
                <ul>
                    <li v-for="tip in tips.oppo">{{tip}}</li>
                </ul>
            </div>
        </div>
        <div class="row fillc" v-else-if="newuser==3">
            <div class="col-xs-offset-1 col-xs-10 leftc-center ue-bg">
                <strong>D</strong>
                <div contenteditable="true" v-on:keyup="localupdate('domain',$event)">{{edit.domain}}</div>
                <strong>C</strong>
                <div contenteditable="true" v-on:keyup="localupdate('categery',$event)">{{edit.categery}}</div>
                <strong>P</strong>
                <div contenteditable="true" v-on:keyup="localupdate('period',$event)">{{edit.period}}</div>
                <strong>S</strong>
                <div contenteditable="true" v-on:keyup="localupdate('side',$event)">{{edit.side}}</div>
                <strong>n</strong>
                <div contenteditable="true" v-on:keyup="localupdate('content',$event)">{{edit.content}}</div>
                <button v-on:click="pushedit">SUBMIT</button>
            </div>
        </div>
    </div>
</body>
<script>
    window.jQuery = window.$ = require('jquery');
    jQuery(document).ready(function () {
        // $.backstretch("../../css/bgimg.png");
        main.register();
        main.preGet();
    })
</script>
<script src="../../lib/bootstrap.min.js"></script>
<script src="../../lib/buttons.min.js"></script>
<script src="../../lib/jquery.backstretch.min.js"></script>
<script src="../../lib/vue.js"></script>
<script src="../../lib/caper.js"></script>
<script src="../public.js"></script>
<script src="./index.js"></script>


</html>